<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BTIONARY</title>
</head>
<body>
  <h1>Welcome to the Btionary!</h1>

  Someone eyeee know has a unique way of speakiling! 

  Find the latest BEE-ning of a WORDS!
  
<div class="defintion">
 <h3>Word of the Moment</h3>

   <% let j = Math.floor(Math.random() * entries.length) %>
       <h2><%= entries[j].word %></h2>
       <h4><%= entries[j].definition %></h4>
       <h4 id="sentence"><%= entries[j].use %></h4>
</div>

<div class="form">
<h3>Add your own B-ism</h3>
  <form action="/entries" method="POST">
    <p><input type="word" placeholder="Word" name="word"></p>
    <p><input type="definition" placeholder="Definition" name="definition" id="txtbox"></p>
    <p><input type="use" placeholder="Use it in a sentence" name="use"></p>
    <button type="submit">Sends It Ups!</button>
  </form>
</div>


  <h2>Seeecret Complete Btionary</h2>
  <ul class="dictionary">
    <% for(var i = 0; i < entries.length; i++) {%>
      <li class="definition">
        <span><%= entries[i].word %></span>:
        <span><%= entries[i].definition %></span>
         <span><%= entries[i].use %></span>
      </li>
    <% } %>
  </ul>
 


</body>
</html>